<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<html lang="en">

    <head>
      <title>Contract</title>
      <meta charset="utf-8">
        <!--Mobile Compatibility-->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Bootstrap includes-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <!--<link rel="stylesheet" href="CSS/style.css">-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container" id="login">
          <h1>Contract</h1>

            <a id="deploy_btn" type="button" class="btn btn-primary">Deploy</a>

        </div>

    </body>

    <script>


    </script>

</html>
