<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Game</title>
        <meta charset="utf-8">
        <!--Mobile Compatibility-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap & JQuery includes-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- IPFS -->
        <!-- loading the minified version -->
        <script src="https://unpkg.com/ipfs/dist/index.min.js"></script>
        <script src="https://unpkg.com/ipfs-api/dist/index.js"></script>


    </head>

    <body>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navText">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">LT Games</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navText" href="/highlow">HighLow</a></li>
                        <li><a class="navText" href="/invest">Invest</a></li>
                        <li><a class="navText" href="/dashboard/{{ username }}">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <!-- CONTENT CONTAINER -->
            <div class="dashboard-account-container">
                <h2 class="lt-h2-title">Dashboard</h2>
                <div style="display:inline; float:center;">
                    <h3 class="col-md-6 lt-h3-text" style="text-align:right;">Username: </h3>
                    <h3 id="username" class="col-md-6 lt-h3-text" style="text-align:left;">{{ username }}</h3>
                </div>
                <div style="display:inline; float:center;">
                    <h3 class="col-md-6 lt-h3-text" style="text-align:right;">Email:</h3>
                    <h3 id="email" class="col-md-6 lt-h3-text" style="text-align:left;">{{ email }}</h3>
                </div>
                <div style="display:inline; float:center;">
                    <h3 class="col-md-6 lt-h3-text" style="text-align:right;">Balance:</h3>
                    <h3 id="balance" class="col-md-6 lt-h3-text" style="text-align:left;">{{ balance }}</h3>
                </div>
                <input type="submit" id="get_tokens" class="lt-full-btn" value="Get Tokens!">
                <input type="submit" id="update_balance" class="lt-full-btn" value="Update Balance">
            </div>
            <div id='dashboard-transaction-container' class="dashboard-transaction-container">
                <h2 class="lt-h2-title">Transactions</h2>
            </div>
        </div>
    </body>

    <script type="text/javascript">

    </script>

    <!-- JS files-->
    {% load static %}
    <script  src="{% static 'web3.min.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">

</html>


